<!-- partials/_header.ejs -->

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <title>Miny URL</title>
</head>
<body>

  <% if (user) { %>
    <nav style="margin-bottom:2em; padding-left: 16px;">
      <div class="nav-wrapper">
        <a href="/url" class="brand-logo" style="font-family:'Permanent Marker', cursive;"       >Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>   
            <form action="/logout" method="POST">        
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Logout">Logout</button>
            </form>
          </li> 
        </ul>
        <ul class="sidenav" id="mobile-demo">  
          <li>
            <form action="/logout" method="POST">           
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Logout">Logout</button>
            </form>
          </li>  
        </ul> 
      </div>
    </nav>

  <% } else { %>
    <nav style="margin-bottom:2em; padding-left: 16px; font-family:'Permanent Marker', cursive;">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>   
            <form action="/login" method="GET">        
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Login">Login</button>
            </form>
          </li> 
          <li>   
            <form action="/register" method="GET">        
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Register">Register</button>
            </form>
          </li> 
        </ul>
        <ul class="sidenav" id="mobile-demo">  
          <li>   
            <form action="/login" method="GET">        
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Login">Login</button>
            </form>
          </li> 
          <li>   
            <form action="/register" method="GET">        
              <button class="btn waves-effect waves-light btn-flat red lighten-2 white-text" type="submit" value="Register">Register</button>
            </form>
          </li>  
        </ul> 
      </div>
    </nav>

  <% } %>

  <!--Import jQuery before materialize.js-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <!-- jQuery -->
  <script>
    $(document).ready(function(){
      $(".sidenav").sidenav(); // initiate nav mobile collapse
    });  
    </script>
</body>
