<!-- partials/_header.ejs | header for all html docs -->

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Miny URL</title>
</head>
<body>

  <% if (user) { %>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
      <p>Login email: <%= user.email %></p>
    </form>

  <% } else { %>
    <form action="/login" method="GET" >
      <input type="submit" value="Login">
    </form>

    <form action="/register" method="GET">
      <p>Don't have an account?
        <input type="submit" value="Register">
      </p>
    </form>
  <% } %>

  <!--Import jQuery before materialize.js-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
