<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Miny URL</title>
</head>
<body>

  <h1>Login</h1>

  <% if (user) { %>
    <form id="registration" action="/login" method="POST">
      <input type="submit" value="Logout">
      <p>Login email: <%= user.email %></p>
    </form>

  <% } else { %>
    <form action="/login" method="POST" >
      <p>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="user@example.com" style="width: 300px" >
      </p>
      <p>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="password" style="width: 150px" >
        <input type="submit" value="Login">
      </p>
    </form>
  <% } %>

  <!--Import jQuery before materialize.js-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>