<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Miny URL</title>
  <%- include('partials/_header') %>
</head>
<body>

  <h2>Registration</h2>

  <div class="col s2 z-depth-5 card-panel" style="width:40%">
    <form id="registration" action="/register" method="POST">
      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">mail_outline</i>
          <label for="email" data-error="wrong" data-success="right">Email</label>
          <input class="validate" id="email" type="email" placeholder="user@example.com">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">lock_outline</i>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="password">
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s10">
          <input class="btn waves-effect waves-light col s6" type="submit" value="Register">
        </div>
      </div>

    </form>
  </div>

  <!--Import jQuery before materialize.js-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>

