<!-- views/urls_show.ejs -->
<!-- displaying a single full URL and its shortened form. The end point for such a page will be in the format /urls/b2xVn2, which in this example means it's the page for the URL with the shortened form (or ID) b2xVn2 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Miny URL</title>
  <%- include('partials/_header') %>
</head>
<body>

  <div class="container">
    <div class="col s12">
      <h3 class="header">Shortened URL:<%= shortURL %></h3>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://picsum.photos/300/300?image=0">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <form action="/urls/<%= shortURL %>" method="POST">
              <!--   edit full URL  -->
              <label for="longURL">Update the long URL:</label>
              <input id="longURL type="text" name="longURL" value="<%=longURL%>" placeholder="http://www." >
            <!--    update the edited full URL button -->
              <button class="btn waves-effect waves-light" type="submit" value="Update">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>

